<html>
<head>
</head>
<body>


Name your close friend group! 
<br>

<form action="/create_cfg2" method = "POST">
	<input type = "text" name = "cfg" placeholder = "name" required/> </br>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}

<br>
<input type="submit" value="Submit" />
<br>
        {% if message %}
            {{ message }}
        {% endif %}
<br>


<br>


</form>

<a href= "/home">GO back to home</a>
<br>
<a href="/logout">Logout</a>

</body>
