<html>
<head>
	<title>Finstagram</title>
</head>
<body>

<h1>Welcome {{username}}</h1> 

<a href = "/manage_tag"> Manage Tag Request 
<br>
<a href = "/tag_user"> Tag user! </a>
<br>
<a href = "/show_image">View Images</a>
<br>
<a href = "/upload">Upload an Image</a>
<br>
<a href = "/click_to_follow">Click here to send request</a>
<br>
<a href = "/click_to_see">Click here to see the request</a>
<br>
<a href = "/select_group">Add friend</a>
<br>
<a href="/create_cfg">Create close friend group</a>
<br>
<a href="/logout">Logout</a>

</body>


</html>
