<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload an Image!</h1>
        <div>
            <form action="/uploadImage" method="post" enctype="multipart/form-data">
                <input type="file" name="imageToUpload" accept="image/*" required/>
                <br/>
		<br/>
		Would you like this to be posted public or private? 
		<br/>
		<br/>
                <input type="submit" name = "choose" value="public" />
		<input type="submit" name = "choose" value="private" />
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/">Go back</a>
    </body>
</html>